<footer>
<address>
  <b>Espumas y Materiales Industriales, <span title=
  "Sociedad An&oacute;nima de Capital Variable">S.A. de
  C.V.</span></b><br />
  <br />
  Francisco Barrera 11B, Col. Crist&oacute;bal Higuera,
  Atizap&aacute;n de Zaragoza, C.P. 52400, Estado de
  M&eacute;xico<br />
  Tel&eacute;fonos: (55) 5824-1025, (55) 5824-1018 y (55)
  5824-1414 e-mail: ventas@rotomex.com<br />
  Horario atenci&oacute;n: LU-VI 9:00 AM a 5:45 PM<br />
  <a href="privacidad.htm" style=
  "color:#fff;">Aviso de Privacidad</a>
</address>
<br />			
<a href="https://www.aguilahosting.com/"><img src=
"/i/boton-aguilahosting.gif" id="boton-hosting" alt=
"Dise&ntilde;o web Aguilahosting.com" name=
"boton-hosting" /></a>
</footer>